.login-form {
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form .MuiTextField-root {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-form .role-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .login-form .error {
    color: red;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .login-form .MuiButton-root {
    display: block;
    width: 100%;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form .MuiButton-root:hover {
    background-color: #2e7c96;
  }
  
   .login-form .MuiButton-root:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  } 
  
   .login-form .MuiButton-root:disabled:hover {
    background-color: #ccc;
  }
   
  .login-form .additional-features {
    margin-top: 20px;
  }
  
  .login-form .password-toggle {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .login-form .password-toggle label {
    margin-left: 5px;
  }
  
  .login-form .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .login-form .remember-me label {
    margin-left: 5px;
  }
  
  .login-form .forgot-password-link {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .login-form .social-media-login {
    display: flex;
    justify-content: center;
  }
  
  .login-form .social-media-button {
    display: inline-block;
    margin: 0 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form .social-media-button:hover {
    opacity: 0.8;
  }
   