/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}



/* Navigation Styles */
.nav {
  background-color: #4267B2;
padding-left: 50px;
padding: 20px;}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.left-section {
  display: flex;
  align-items: center;
}

.site-title {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  margin-right: 20px;
}

.nav-link {
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  margin-right: 10px;
}

.right-section .nav-link {
  margin-right: 0;
  margin-left: 10px;
}

/* Hero Section Styles */
.hero-section {
  background-color: #F5F5F5;
  background-image: url("https://t3.ftcdn.net/jpg/04/67/37/12/360_F_467371208_2cBvWthKecbY7PPW7rxmz99pKSkJPDPm.jpg");
  background-size: cover;
  padding: 100px 0;
  text-align: center;
}

.hero-section h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 18px;
  color: #777;
  margin-bottom: 40px;
}

.cta-button {
  display: inline-block;
  background-color: #4267B2;
  color: #FFF;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
}

/* Features Section Styles */
.features-section {
  padding: 80px 0;
  text-align: center;
}

.features-section h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 40px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.icon {
  font-size: 48px;
  color: #4267B2;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.feature p {
  font-size: 18px;
  color: #777;
}

/* Testimonial Section Styles */
.testimonial-section {
  background-color: #FFF;
  padding: 100px 0;
  text-align: center;
}

.testimonial-section h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 40px;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.quote {
  font-size: 36px;
  color: #4267B2;
  margin-bottom: 20px;
}

.quote i {
  margin-right: 10px;
}

.author img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.author p {
  font-size: 18px;
  color: #333;
  margin: 0;
}

/* Footer Section Styles */
/* Home.css */

.footer {
  background-color: #4267B2;
  padding: 20px 0;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info,
.footer-contact {
  flex-basis: 50%;
}

.footer-info h3,
.footer-contact h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-info p,
.footer-contact p {
  margin: 0;
}

.footer-text {
  margin-top: 10px;
  text-align: center;
  color: #4267B2;
}

